<section class="hero-section position-relative text-center">
    <div class="hero-overlay"></div>
    <div class="hero-content w-50 text-start">
        <!-- <h5>Quick • Accessible • Anywhere</h5> -->
        <div class="search-bar d-flex flex-column flex-md-row justify-content-between align-items-stretch p-3 rounded-4">
            <div class="flex-grow-1 mb-4 mb-md-0">
                <label class="input-label ms-2">What are you looking for?</label>
                <input type="text" class="form-control borderless-input" id="service-input" placeholder="Service you are looking for (cut, etc)">
            </div>
            <div class="divider border-start mx-3 d-none d-md-block"></div> <!-- Vertical Divider only on medium and larger screens -->
            <div class="flex-grow-1 mb-4 mb-md-0">
                <label class="input-label ms-2">Where?</label>
                <input type="text" class="form-control borderless-input" id="floatingInput" placeholder="City, Postal Code...">
            </div>
            <button mat-raised-button class="btn btn-dark ms-md-3 px-4 rounded-4">Search Now</button>
        </div>
    </div>
    
</section>