

<div class="container-fluid col-md-9 container-bg rounded-4 mt-4">
    <div class="col justify-content-center text-center">
        <div class="">
            <h2>Plans that fit your Business</h2>
        </div>
        <div>
            <p>From basic to Pro, find the right plan to streamline your business</p>
        </div>
        <div class="">
            <p-selectButton 
            [options]="stateOptions" 
            [(ngModel)]="value" 
            optionLabel="label" 
            optionValue="value"
            />
        </div>
    </div>
</div>