<app-landing-navbar></app-landing-navbar>
<!-- Hero Section -->
<section class="hero-section position-relative text-center">
    <div class="hero-overlay"></div>
    <div class="hero-content w-50 text-start">
      <!-- <h5>Quick • Accessible • Anywhere</h5> -->
      <div class="search-bar d-flex justify-content-around align-items-stretch p-3 rounded-4">
        <div class="flex-grow-1">
            <label class="input-label ms-2">What are you looking for?</label>
            <input type="text" class="form-control borderless-input" id="sevice-input" placeholder="Service you are looking for (cut, etc)">
        </div>
        <div class="divider border-start mx-3"></div> <!-- Vertical Divider -->
        <div class="flex-grow-1">
            <label class="input-label ms-2">Where?</label>
            <input type="text" class="form-control borderless-input" id="floatingInput" placeholder="City, Postal Code...">
        </div>
        <!-- <div class="form-floating flex-grow-1">
            <input type="text" class="form-control borderless-input" id="floatingInput" placeholder="Service you are looking for (cut, etc)">
            <label class="text-dark" for="floatingInput">Service you are looking for (cut, etc)</label>
        </div> -->
        <!-- <div class="form-floating flex-grow-1">
            <input type="text" class="form-control" id="floatingPassword" placeholder="Address">
            <label class="text-dark" for="floatingPassword">Address, city</label>
        </div> -->
        <button mat-raised-button class="btn btn-dark ms-3 px-4 rounded-4">Search Now</button>
    </div>
    

      <!-- <div class="recent-search mt-4">
        <span class="badge bg-light text-dark">Haircut</span>
        <span class="badge bg-light text-dark">Makeup</span>
        <span class="badge bg-light text-dark">Lawyer</span>
        <span class="badge bg-light text-dark">Hairdresser</span>
      </div> -->
    </div>
</section>



<!-- Info Section -->
<!-- <section class="info-section container text-center position-absolute top-100 start-50 translate-middle">
    <div class="row">
      <div class="col-md-6">
        <mat-icon class="service-icon">business</mat-icon>
        <h2>80K</h2>
        <p>Service Providers</p>
      </div>
      <div class="col-md-6">
        <mat-icon class="search-icon">search</mat-icon>
        <h2>14.3K</h2>
        <p>Search Today</p>
      </div>
    </div>
  </section> -->

  <div class="container p-3 position-absolute top-100 start-50 translate-middle bg-light rounded-4">
    <div class="row">
        <div class="card col-md-2" style="width: 18rem;">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="groups2" class="card-icons"></mat-icon>
            <h1 class="card-number-text">50%</h1>
            <div class="card-body">
              <p class="card-text">more customer visits through online bookings.</p>
            </div>
          </div>
      <!-- <div class="col-md-3  text-center">
        <i class="fa fa-users fa-2x" aria-hidden="true"></i>
        <h3>50%</h3>
        <p>more customer visits through online bookings</p>
      </div>
      <div class="col-md-3 text-center">
        <i class="fa fa-briefcase fa-2x" aria-hidden="true"></i>
        <h3>80K</h3>
        <p>Explore our range of professional services</p>
      </div>
      <div class="col-md-3 text-center">
        <i class="fa fa-calendar fa-2x" aria-hidden="true"></i>
        <h3>60%</h3>
        <p>of appointments are booked outside of business hours</p>
      </div>
      <div class="col-md-3 text-center">
        <i class="fa fa-bell fa-2x" aria-hidden="true"></i>
        <h3>5x</h3>
        <p>fewer forgotten appointments thanks to reminders</p>
      </div> -->
    </div>
  </div>