<app-landing-navbar></app-landing-navbar>

<div style="background: var(--Shark-50, #F5F5F5);">

  <!-- Hero Section -->
  <app-cs-landing-hero-section></app-cs-landing-hero-section>

  <!-- Statistics Section -->
  <app-cs-landing-statistics></app-cs-landing-statistics>

  <div style="margin-top: 7rem;"></div>

    <!-- Hiring Section -->
  <app-cs-landing-hiring></app-cs-landing-hiring>

      <!-- Hiring Section -->
  <app-cs-cities-around></app-cs-cities-around>

  <!-- FAQ Section -->
  <app-landing-faq></app-landing-faq>


</div>

<!-- Footer Section -->
 <app-footer></app-footer>