<div class="row col-md-9 mb-4 position-absolute top-100 start-50 translate-middle ">
    <div class="col-md-9">
      <div class="bg-light rounded-4" id="leftstat">
        <div class="row px-4 py-3">
          <div class="col-md-3 p-3">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="groups2" class="card-icons"></mat-icon>
            <h2 class="">50%</h2>
            <div class="">
              <p class="">more customer visits through online bookings.</p>
            </div>
          </div>
  
          <div class="col-md-3 p-3">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="groups2" class="card-icons"></mat-icon>
            <h2 class="">50%</h2>
            <div class="">
              <p class="">more customer visits through online bookings.</p>
            </div>
          </div>
  
          <div class="col-md-3 p-3">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="groups2" class="card-icons"></mat-icon>
            <h2 class="">50%</h2>
            <div class="">
              <p class="">more customer visits through online bookings.</p>
            </div>
          </div>
  
          <div class="col-md-3 p-3">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="groups2" class="card-icons"></mat-icon>
            <h2 class="">50%</h2>
            <div class="">
              <p class="">more customer visits through online bookings.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-md-3">
      <div class="bg-light rounded-4" id="rightstat">
        <div class="px-4 py-3">
          <div class="col-md-9 p-3">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="groups2" class="card-icons"></mat-icon>
            <h2 class="">50%</h2>
            <div class="">
              <p class="">more customer visits through online bookings.</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
    