<!-- position-absolute top-100 start-50 translate-middle -->
<div class="container-fluid justify-content-center col-md-9 mt-5 px-0">
  <div class="row mb-5 ">  
    <div class="col-md-9">
      <div class="bg-light rounded-4 mx-0" id="leftstat">
        <div class="row px-4 py-3">
          <div class="col-md-3 p-3">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="groups2" class="card-icons"></mat-icon>
            <h2 class="">50%</h2>
            <div class="">
              <p class="">more customer visits through online bookings.</p>
            </div>
          </div>
  
          <div class="col-md-3 p-3">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="groups2" class="card-icons"></mat-icon>
            <h2 class="">50%</h2>
            <div class="">
              <p class="">more customer visits through online bookings.</p>
            </div>
          </div>
  
          <div class="col-md-3 p-3">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="groups2" class="card-icons"></mat-icon>
            <h2 class="">50%</h2>
            <div class="">
              <p class="">more customer visits through online bookings.</p>
            </div>
          </div>
  
          <div class="col-md-3 p-3">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="groups2" class="card-icons"></mat-icon>
            <h2 class="">50%</h2>
            <div class="">
              <p class="">more customer visits through online bookings.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="col-md-3" >
      <div class="rounded-4" id="rightstat" style="background: var(--Shark-100, #E7E7E7);">
        <div class="px-4 py-3">
          <div class="col-md-9 p-3">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="groups2" class="card-icons"></mat-icon>
            <h2 class="">50%</h2>
            <div class="">
              <p class="">more customer visits through online bookings.</p>
            </div>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</div>
