<!-- position-absolute top-100 start-50 translate-middle -->
<div class="container-fluid justify-content-center col-md-10 mt-5">
  <div class="row mb-5 ">  
      <div class="bg-light rounded-4 mx-0" id="leftstat">
        <div class="row px-5 py-3  d-flex justify-content-between">
          
          <div class="col-md-2 p-3 text-center">
            <i class="bi bi-people display-6 fw-bold"></i>
            <h1 class="mt-3">50%</h1>
            <div class="">
              <p class=""> {{ 'more customer visits through online bookings.' | translate }} </p>
            </div>
          </div>
  
          <div class="col-md-2 p-3 text-center">
            <img src="/assets/svg/other-icons/business_center.svg" class="display-6">
            <h1 class="mt-3">80K</h1>
            <div class="">
              <p class=""> {{ 'Explore our range of professional services' | translate }} </p>
            </div>
          </div>
  
          <div class="col-md-2 p-3 text-center">
            <img src="/assets/svg/other-icons/calendar_clock.svg" class="display-6">
            <h1 class="mt-3">60%</h1>
            <div class="">
              <p class=""> {{ 'of appointments are booked outside of business hours.' | translate }} </p>
            </div>
          </div>
  
          <div class="col-md-2 p-3 text-center">
            <i class="bi bi-calendar-week display-6 fw-bold"></i>
            <h1 class="mt-3">5x</h1>
            <div class="">
              <p class=""> {{ 'fewer forgotten appointments thanks to reminders' | translate }} </p>
            </div>
          </div>

          <div class="col-md-2 p-3 text-center">
            <img src="/assets/svg/other-icons/avg_time.svg" class="display-6">
            <h1 class="mt-3">8+</h1>
            <div class="">
              <p class=""> {{ 'appointments are booked every minute' | translate }} </p>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
