


<div class="container-fluid col-md-9 justify-content-center px-5 py-3 rounded-4 bg-light text-dark mt-5">
    <div class="row">
        <div class="col-md-9 p-4">
            <h1 class="mb-5">{{ 'Hiring' | translate}}</h1>
            <p class="hiring-body-text mb-5"> {{ 'Visityfy is looking for partners in Germany, Austria, Switzerland, Netherlands, Belgium, and France to digitize the service industry.' | translate }}</p>
            <button class="btn btn-dark btn-lg px-3"> {{'Apply Now' | translate }} </button>
        </div>
        <div class="col-md-3 p-4 ">
            <img src="/assets/images/hiring.jpeg" class="img-fluid rounded-4" alt="...">
        </div>
    </div>
</div>
