/* Navbar */
.navbar {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.40) 0%, rgba(0, 0, 0, 0.10) 100%);
    backdrop-filter: blur(20px);
}

.color-change{
    background: var(--Shark-950, #1F1F1F);
    backdrop-filter: blur(20px);    
}

.navbar-brand .logo {
    height: 50px; /* Adjust as necessary */
    width: auto; /* Maintains aspect ratio */
}

.btn-outline-light {
    border-color: rgba(255, 255, 255, 0.5);
    color: white;
}
  
.btn-outline-light:hover {
background-color: rgba(255, 255, 255, 0.1);
}

.dropdown-toggle::after {
margin-left: 0.5rem;
}

.material-icons {
font-size: 1.2rem; /* Adjust icon size */
vertical-align: middle;
}

  
.dropdown-toggle::after {
    margin-left: 0.5rem;
  }