<!-- Navbar -->
<nav class="navbar navbar-expand-lg bg-transparent fixed-top" 
     [ngClass]="{'color-change': isScrolled}">
    <div class="container-fluid col-md-10">
        <a class="navbar-brand" href="#">
            <img src="assets/images/logo/white_full.png" alt="VISITYFY Logo" class="logo" height="70px" width="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mx-auto mb-lg-0 col-md-6">
                @if(showSearchBar){                    
                <div class="input-group input-group-sm ">
                    <input class="form-control" [placeholder]="'What are you looking for?' | translate" aria-label="" aria-describedby="search-btn">
                    <button class="btn btn-lg btn-dark border-light border-4" type="button" id="search-btn">
                        <span><i class="bi bi-search h5 text-light"></i></span>
                    </button>
                </div>
                }
            </div>
            <button class="btn btn-outline-light me-2 bg-light offer-service-btn-text ">{{ 'Offer service' | translate }} </button>     
            <button class="btn btn-outline-light me-2">{{ 'Login' | translate }} </button>     
            <!-- Language Dropdown -->
            <div class="dropdown">
                <button
                class="btn btn-dark dropdown-toggle d-flex align-items-center"
                type="button"
                id="languageDropdown"
                data-bs-toggle="dropdown"
                aria-expanded="false">
                    <span class="material-icons">language</span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="languageDropdown">
                    <li><a class="dropdown-item" href="#" (click)="switchLanguage('en')">English</a></li>
                    <li><a class="dropdown-item" href="#" (click)="switchLanguage('ger')">German</a></li>
                    <!-- <li><a class="dropdown-item" href="#" (click)="switchLanguage('fr')">French</a></li> -->
                </ul>
            </div>   
        </div>
    </div>
</nav>
