<app-cs-nav-bar></app-cs-nav-bar>

<div class="row container-fluid bg-light">
    <div class="col-md-6 d-flex justify-content-center bg-light">
        <img src="assets/images/login_page_bg.png" class="" alt="Service Booking Image" style="height: 100vh; object-fit: cover;">
    </div>
    <!-- Right side - Login Form Section -->
    <div class="col-md-6 d-flex justify-content-center align-items-center p-4">
        <div class="w-40">
            <div class="d-flex justify-content-center mb-3">
                <h4 class="mb-4">Have you used Visitfy before?</h4>
            </div>
            <form>
                <div class="mb-4">
                    <input type="text" class="form-control" placeholder="Enter Email / Phone No.">
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control" placeholder="Password">
                    <button class="btn btn-outline-secondary" type="button">
                        <i class="bi bi-eye"></i>
                    </button>
                </div>
                <div class="mb-4">
                    <a href="#" class="text-decoration-none link-dark">Forgot Your Password?</a>
                </div>
                <button type="submit" class="btn btn-dark w-100 mb-4">Login</button>
            </form>
            
            <div class="d-flex align-items-center my-3">
                <hr class="flex-grow-1">
                <span class="mx-2">Or Sign in with</span>
                <hr class="flex-grow-1">
            </div>

            <div class="d-flex justify-content-between mb-4">
                <button class="btn btn-outline-dark w-32 px-4 mx-1"><i class="bi bi-google"></i> Google</button>
                <button class="btn btn-outline-dark w-32 px-4 mx-1" ><i class="bi bi-apple"></i> Apple ID</button>
                <button class="btn btn-outline-dark w-32 px-4 mx-1"><i class="bi bi-microsoft"></i> Outlook</button>
            </div>
            
            <div class="text-center mb-5">
                <p>Don’t have an account? <a href="#">Create New</a></p>
            </div>
        </div>

</div>