
<div class="container-fluid col-md-10 justify-content-center p-3 mt-5">
  <h1 class=""> {{ 'Find Services' | translate }} </h1>
  <p class="mb-3">{{ 'Discover our professional services in major cities across Germany, including Berlin, Hamburg, Munich, Cologne, and beyond. Wherever you are, we bring expert haircuts, makeup artistry, legal consultations to your doorstep.' | translate }}</p>
  <div class="row bg-light rounded-4 pt-2">
    <!-- Left side  -->
    <div class="col-lg-3 " style="height: 80vh;">
      <div class="card flex justify-content-center">
        <p-carousel 
            [value]="reviews" 
            [circular]="true" 
            [numVisible]="4" 
            [numScroll]="1" 
            orientation="vertical" 
            [showIndicators]="false"
            [autoplayInterval]="3000" 
            
            verticalViewPortHeight="72vh">
                <ng-template let-product pTemplate="item"  style="padding-bottom: 5px;">
                  <div class="card rounded-4 mb-1" >
                    <img [src]="product.image" class="card-img-top rounded-4" alt="{{ product.name }}" style="height: 20vh;">
                    <div class="card-img-overlay d-flex flex-column justify-content-end text-light p-2">
                      <h5 class="fw-bold mb-0">{{ product.name }}</h5>
                      <a [href]="product.url" class="stretched-link"></a>
                    </div>
                  </div>
                </ng-template>
        </p-carousel>
    </div>
    </div>

    <!-- Right side with a map -->
    <div class="col-lg-9 rounded-4 ">
      <google-map 
        [center]="center"
        [zoom]="zoom"
        height="100%"
        width="100%"
      >
      <map-marker [position]="center" [options]="markerOptions"></map-marker>
    </google-map>
    </div>
  </div>  
</div>
