
<div class="container-fluid col-md-10 justify-content-center p-3 mt-5">
  <h1 class=""> {{ 'Find Services' | translate }} </h1>
  <p class="mb-3">{{ 'Discover our professional services in major cities across Germany, including Berlin, Hamburg, Munich, Cologne, and beyond. Wherever you are, we bring expert haircuts, makeup artistry, legal consultations to your doorstep.' | translate }}</p>
  <div class="row bg-light rounded-4 pt-2">
    <!-- Left side with 5 rows -->
    <div class="col-lg-4 col-md-12">
      <div class="city-card rounded-4">
        <img src="/assets/images/cities/berlin.jpeg" alt="Berlin" class="rounded-4 h-50" style="max-height: 192px;">
        <span class="city-name">Berlin</span>
      </div>
      <div class="city-card">
        <img src="/assets/images/cities/hamburg.jpeg" alt="Hamburg" class="rounded-4" style="max-height: 192px;">
        <span class="city-name">Hamburg</span>
      </div>
      <div class="city-card">
        <img src="/assets/images/cities/munich.jpeg" alt="Munich" class="rounded-4" style="max-height: 192px;">
        <span class="city-name">Munich</span>
      </div>
      <div class="city-card">
        <img src="/assets/images/cities/cologne.jpeg" alt="Cologne" class="rounded-4" style="max-height: 192px;">
        <span class="city-name">Cologne</span>
      </div>
    </div>

    <!-- Right side with a map -->
    <div class="col-lg-8 rounded-4 ">
      <!-- <img src="/assets/images/map_image.png" alt="Map" class="img-fluid w-100 rounded-4" style="height: 816px;"> -->
      <google-map 
        [center]="center"
        [zoom]="zoom"
        height="100%"
        width="100%"
      >
      <map-marker [position]="center" [options]="markerOptions"></map-marker>
    </google-map>
    </div>
  </div>
</div>
