 <div class="container-fluid col-md-10 justify-content-center p-3 rounded-4  my-5 ">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center ">
        <h2>FAQ</h2>
        <p>Simple and clear answers to common questions.</p>
        <div class="row justify-content-around">
          <div class="col-md-6" id="leftFaqColumn">
            <mat-accordion>            
              <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="rounded-3  mat-elevation-z0 ">
                <mat-expansion-panel-header class="bg-light py-3">
                  <mat-panel-title > How do I book a service? </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="faq-answer-box rounded-4 p-4">Hello, we provide various services to help your business grow and develop. We help provide ideas, create designs, develop websites and mobile applications, provide support for the growth of business ideas, to help customers market their products online through the marketplace.</p>
              </mat-expansion-panel>
  
              <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="rounded-3 mt-3 mat-elevation-z0">
                <mat-expansion-panel-header class="bg-light py-3">
                  <mat-panel-title> What types of services can I find on Visityfy? </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="faq-answer-box rounded-4 p-3 ">Hello, we provide various services to help your business grow and develop. We help provide ideas, create designs, develop websites and mobile applications, provide support for the growth of business ideas, to help customers market their products online through the marketplace.</p>
              </mat-expansion-panel>
  
              <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="rounded-3 mt-3 mat-elevation-z0">
                <mat-expansion-panel-header class="bg-light py-3">
                  <mat-panel-title> How does the reminder function work? </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="faq-answer-box rounded-4 p-3">Hello, we provide various services to help your business grow and develop. We help provide ideas, create designs, develop websites and mobile applications, provide support for the growth of business ideas, to help customers market their products online through the marketplace.</p>
              </mat-expansion-panel>

              <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="rounded-3 mt-3 mat-elevation-z0 ">
                <mat-expansion-panel-header class="bg-light py-3">
                  <mat-panel-title > How do I book a service? </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="faq-answer-box rounded-4 p-4">Hello, we provide various services to help your business grow and develop. We help provide ideas, create designs, develop websites and mobile applications, provide support for the growth of business ideas, to help customers market their products online through the marketplace.</p>
              </mat-expansion-panel>
  
              <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="rounded-3 mt-3 mat-elevation-z0">
                <mat-expansion-panel-header class="bg-light py-3">
                  <mat-panel-title> What types of services can I find on Visityfy? </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="faq-answer-box rounded-4 p-3 ">Hello, we provide various services to help your business grow and develop. We help provide ideas, create designs, develop websites and mobile applications, provide support for the growth of business ideas, to help customers market their products online through the marketplace.</p>
              </mat-expansion-panel>
  
              <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="rounded-3 mt-3 mat-elevation-z0">
                <mat-expansion-panel-header class="bg-light py-3">
                  <mat-panel-title> How does the reminder function work? </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="faq-answer-box rounded-4 p-3">Hello, we provide various services to help your business grow and develop. We help provide ideas, create designs, develop websites and mobile applications, provide support for the growth of business ideas, to help customers market their products online through the marketplace.</p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
  
          <div class="col-md-6" id="rightFaqColumn">
            <mat-accordion>            
              <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="rounded-3  mat-elevation-z0 ">
                <mat-expansion-panel-header class="bg-light py-3">
                  <mat-panel-title > How do I book a service? </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="faq-answer-box rounded-4 p-4">Hello, we provide various services to help your business grow and develop. We help provide ideas, create designs, develop websites and mobile applications, provide support for the growth of business ideas, to help customers market their products online through the marketplace.</p>
              </mat-expansion-panel>
  
              <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="rounded-3 mt-3 mat-elevation-z0">
                <mat-expansion-panel-header class="bg-light py-3">
                  <mat-panel-title> What types of services can I find on Visityfy? </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="faq-answer-box rounded-4 p-3 ">Hello, we provide various services to help your business grow and develop. We help provide ideas, create designs, develop websites and mobile applications, provide support for the growth of business ideas, to help customers market their products online through the marketplace.</p>
              </mat-expansion-panel>
  
              <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="rounded-3 mt-3 mat-elevation-z0">
                <mat-expansion-panel-header class="bg-light py-3">
                  <mat-panel-title> How does the reminder function work? </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="faq-answer-box rounded-4 p-3">Hello, we provide various services to help your business grow and develop. We help provide ideas, create designs, develop websites and mobile applications, provide support for the growth of business ideas, to help customers market their products online through the marketplace.</p>
              </mat-expansion-panel>

              <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="rounded-3 mt-3 mat-elevation-z0 ">
                <mat-expansion-panel-header class="bg-light py-3">
                  <mat-panel-title > How do I book a service? </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="faq-answer-box rounded-4 p-4">Hello, we provide various services to help your business grow and develop. We help provide ideas, create designs, develop websites and mobile applications, provide support for the growth of business ideas, to help customers market their products online through the marketplace.</p>
              </mat-expansion-panel>
  
              <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="rounded-3 mt-3 mat-elevation-z0">
                <mat-expansion-panel-header class="bg-light py-3">
                  <mat-panel-title> What types of services can I find on Visityfy? </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="faq-answer-box rounded-4 p-3 ">Hello, we provide various services to help your business grow and develop. We help provide ideas, create designs, develop websites and mobile applications, provide support for the growth of business ideas, to help customers market their products online through the marketplace.</p>
              </mat-expansion-panel>
  
              <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)" class="rounded-3 mt-3 mat-elevation-z0">
                <mat-expansion-panel-header class="bg-light py-3">
                  <mat-panel-title> How does the reminder function work? </mat-panel-title>
                </mat-expansion-panel-header>
                <p class="faq-answer-box rounded-4 p-3">Hello, we provide various services to help your business grow and develop. We help provide ideas, create designs, develop websites and mobile applications, provide support for the growth of business ideas, to help customers market their products online through the marketplace.</p>
              </mat-expansion-panel>
            </mat-accordion>
          </div>
        </div>
      </div>
    </div>
</div>

