.footer-bg{
    background: var(--Shark-950, #1F1F1F);
}

a {
    text-decoration: none;
  }

.logo {
    height: 150px; /* Adjust as necessary */
    width: auto; /* Maintains aspect ratio */
}

input::placeholder {
    color: var(--Shark-300, #888);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.shark-300-text{
  font-family: Inter;
  color: var(--Shark-300, #B0B0B0);
  font-weight: 400;
}

.copyright-text{
  font-size: 16px;
  font-style: normal;
  line-height: normal;
}

.input-border-color{
  border: var(--Shark-700, #B0B0B0) solid;
}