<footer class="footer-container text-light py-5">
    <div class="container">
      <div class="row">
        
        <!-- Logo and Social Icons -->
        <div class="col-lg-3 col-md-6 mb-4 mb-lg-0">
          <!-- <h3 class="mb-3">VISITYFY</h3> -->
          <img src="assets/images/logo/white_full.png" alt="VISITYFY Logo" class="logo">
          <div class="d-flex ps-3">
            <a href="#" class="me-3 text-light">
              <i class="bi bi-linkedin display-6 fw-bold"></i>
            </a>
            <a href="#" class="me-3 text-light">
              <i class="bi bi-instagram display-6 fw-bold"></i>
            </a>
          </div>
        </div>
  
        <!-- About Visityfy -->
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
            <h5 class="mb-3">{{'About Visityfy'  | translate }}</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="#" class="text-light text-decoration-none">Visityfy Pro</a></li>
              <li class="mb-2"><a href="#" class="text-light text-decoration-none">Karriere</a></li>
              <li class="mb-2"><a href="#" class="text-light text-decoration-none">Über Uns</a></li>
              <li class="mb-2"><a href="#" class="text-light text-decoration-none">FAQ</a></li>
              <li class="mb-2"><a href="#" class="text-light text-decoration-none">Technischer Support</a></li>
            </ul>
          </div>
          
  
        <!-- Dienstleistung Finden -->
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h5 class="mb-3">Dienstleistung Finden</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#" class="text-light">Visityfy Deutschland</a></li>
            <li class="mb-2"><a href="#" class="text-light">Visityfy Niederlande</a></li>
            <li class="mb-2"><a href="#" class="text-light">Visityfy Belgien</a></li>
            <li class="mb-2"><a href="#" class="text-light">Visityfy Frankreich</a></li>
            <li class="mb-2"><a href="#" class="text-light">Visityfy Schweiß</a></li>
          </ul>
        </div>
  
        <!-- Visityfy Legal -->
        <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
          <h5 class="mb-3">Visityfy Legal</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#" class="text-light">Cookies</a></li>
            <li class="mb-2"><a href="#" class="text-light">Datenschutz</a></li>
            <li class="mb-2"><a href="#" class="text-light">AGB</a></li>
            <li class="mb-2"><a href="#" class="text-light">Impressum</a></li>
          </ul>
        </div>
  
        <!-- Subscribe -->
        <div class="col-lg-3 col-md-6">
          <h5 class="mb-3">Subscribe to new updates</h5>
          <form class="d-flex flex-column">
            <input type="email" class="form-control mb-2 bg-dark text-light" placeholder="Enter Your Email">
            <button class="btn btn-light" type="submit">Subscribe</button>
          </form>
        </div>
  
      </div>
  
      <!-- Copyright -->
      <div class="text-center mt-4">
        <hr class="border-light">
        <p class="mb-0">Copyright © 2024 Visityfy</p>
      </div>
    </div>
  </footer>
  