

<div class="container-fluid col-md-9 container-bg rounded-4 mt-4">
    <div class="row p-4">
        <div class="col-md-3 px-5 py-3 border-3">
            <h2 class="fw-bold">$20</h2>
            <div class="">
              <p class=""> {{ 'Average Price' | translate }} </p>
            </div>
        </div>
        <div class="col-md-3 px-5 py-3 border-start border-3">
            <h2 class="fw-bold">10 Million</h2>
            <div class="">
              <p class=""> {{ 'of Customers' | translate }} </p>
            </div>
        </div>
        <div class="col-md-3 px-5 py-3 border-start border-3">
            <h2 class="fw-bold">+50K</h2>
            <div class="">
              <p class=""> {{ 'of Appointments per month' | translate }} </p>
            </div>
        </div>
        <div class="col-md-3 px-5 py-3 border-start border-3">
            <h2 class="fw-bold">+$20K</h2>
            <div class="">
              <p class=""> {{ 'Profit per month' | translate }} </p>
            </div>
        </div>
    </div>
</div>